@*<div class="content">
        <a href="http://localhost:53270/Home/page1" class="next"><img src="~/images/Cover Page.jpg" class="image-responsive"></a>

    </div>*@
<div class="content">
    <a href="http://localhost:53270/Home/page1" class="next">
        <img src="~/images/Cover Page.jpg" id="image" class="image-responsive" />
    </a>

</div>



