
<div class="navbar clearfix">
    <div class="nav-inner">
        <a href="http://localhost:53270/Home/page9" class="pull-left nav-item nav-back"> <span class="chevron">❮</span> <span>|</span> <span class="action">PREV PAGE</span></a>
        <a href="http://localhost:53270/Home/page11" class="pull-right nav-item nav-next"><span class="action">NEXT PAGE</span> <span>|</span> <span class="chevron">❯</span></a>
    </div>
</div>

<div class="content">
    <a href="http://localhost:53270/Home/page10" class="next"><img src="~/images/page 13.jpg" id="image" class="image-responsive"></a>

</div>