body {
    padding-top: 50px;
    padding-bottom: 20px;
     font-family: sans-serif;
      color: black;
      min-width: 320px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


    .header {
      min-width: 320px;
      padding: 8px;
      background: white;
      color: #000000;
    }

    .content {
      margin: 0 auto;
      padding: 0;
      margin-top: 55px
    }

    .navbar {
      overflow: hidden;
      background-color: white;
      /*position: fixed;*/
      top: 0;
      width: 100%;
      min-width: 320px;
      height: 55px;
      border-bottom: 1px solid black
    }

    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      color:black;
    }

    a:hover {
      background-color: #ffffff;
      color: black;
    }

    .previous {
      background-color: none;
      color: black;
      font-size: 40px;
     font-weight:bold;

    }

    .next {
      background-color: none;
      color: black;
      font-size: 40px;
      float: right;
      font-weight:bold;
    }



    p {
      font-size: 50px;
      margin-top: -60px;
      margin-left: 100px;
      display: inline-block;
    }

.fancyImg {
    width: 500px;
    height: 500px;
}
    img {
      width: 100%;
      max-width: 23%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }


    .responsive {
      max-width: 100%;
      height: auto;
    }

    .top {
      padding-top: 52px;
    }

    .left {
      margin-left: 75px;
      font-size: 35px;
      display: inline-block;
    }

    .right {
      margin-right: 70px;
      font-size: 35px;
      display: inline-block;
    }


    img {
      width: 22%;
      margin-left: 40%;
      margin-top: 3%
    }


    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 150%;
      position: relative;
      height: 100%;
    }


    .transparent_btn {
      display: inline-block;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
      line-height: 120%;
      background-color: rgba(255, 255, 255, 0);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      cursor: pointer;
    }

    .buttons {
      margin-left: 39%;
      /* margin-top: 30px; */
    }

    .side-left {
      display: inline-block;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
      line-height: 120%;
      background-color: rgba(255, 255, 255, 0);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      cursor: pointer;
    }

    .side-right {
      display: inline-block;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
      line-height: 120%;
      background-color: rgba(255, 255, 255, 0);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      cursor: pointer;
    }

    /*.image-responsive {
        margin-top: 0;
        width: 100%;
        max-width: 455px;
        margin: 0 auto;
        margin-left: -190%;
    }*/



    .image-responsive {
    margin-top: 0;
    width: 100%;
    max-width: 455px;
    margin: 0 auto;
    margin-left: -57%;
}

    .responsive {
      max-width: 37%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 19%;
    }

    .arrow-right {
      margin-left: 25px;
      font-size: 22px;
    }

    .arrow-left {
      margin-left: 25px;
      font-size: 22px;
    }

    /* responsive */

    @media (max-width: 992px) {
      img {
        width: 100%;
        margin: auto;
        display: block;
      }

      .arrow-right {
        margin-left: 27px;
        font-size: 57px
      }

      .arrow-left {
        margin-left: 27px;
        font-size: 45px;
      }

      .responsive {
        max-width: 95%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 19%;
      }

      .transparent_btn {
        display: inline-block;
        color: #000000;
        text-decoration: none;
        font-size: 20px;
        line-height: 120%;
        background-color: rgba(255, 255, 255, 0);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: background-color 300ms ease;
        -moz-transition: background-color 300ms ease;
        transition: background-color 300ms ease;
        cursor: pointer;
        font-size: 64px;
        margin-left: 57px;
        margin-top: 55px;
      }

      .buttons {
        margin-top: 39px;
      }

      .side-left {
        float: left;
        display: inline-block;
        color: #000000;
        text-decoration: none;
        font-size: 20px;
        line-height: 120%;
        background-color: rgba(255, 255, 255, 0);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: background-color 300ms ease;
        -moz-transition: background-color 300ms ease;
        transition: background-color 300ms ease;
        cursor: pointer;
        margin-left: -372px;
        font-size: 49px;
        margin-top: 70px;
      }

      .side-right {
        float: left;
        display: inline-block;
        color: #000000;
        text-decoration: none;
        line-height: 120%;
        background-color: rgba(255, 255, 255, 0);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: background-color 300ms ease;
        -moz-transition: background-color 300ms ease;
        transition: background-color 300ms ease;
        cursor: pointer;
        margin-left: 178px;
        font-size: 45px;
        margin-top: -79px;
      }

      .left {
        margin-left: 75px;
        font-size: 35px;
        display: inline-block;
      }

      .right {
        margin-right: 70px;
        font-size: 35px;
        display: inline-block;
      }

      .next {
        width: 100%;
        height: auto;
      }


      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

      .pull-left {
        float: left
      }

      .pull-right {
        float: right
      }

      .nav-back {
        color: #000;
        font-family: Arial;
        font-weight: bold;
        margin-top: 0.5em;
        font-size: 1.2em;
        padding-left: 10px
      }

      .nav-next {
        color: #000;
        font-family: Arial;
        font-weight: bold;
        margin-top: 0.5em;
        font-size: 1.2em;
        padding-right: 10px
      }

      .nav-item span {
        vertical-align: top
      }

      .nav-item .chevron {
        font-size: 2em;
        vertical-align: middle
      }

      .nav-item .action {
        vertical-align: middle;
        display: inline-block;
        margin-top: 1px
      }

      .image-responsive {
        margin-top: 0;
        width: 100%;
        max-width: 455px;
        margin: 0 auto;
        margin-left: 1%;
      }
      .nav-inner {
        margin: 0 auto
      }

      .content {
        margin-top: 0
      }
    }