
<link href="~/Content/Site.css" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="container-circle ">
                    <div id="activeBorder" class="active-border">
                        <div id="circle" class="circle">
                            <span class="prec 270" id="prec">4/12</span>
                            <span class="prec2 270" id="prec"> COMPLETE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">VELOCITY DASHBOARD STATUS</div>
            <ul class="lists">

                <li>Total items:<p class="number"> 12</li> </p>
                <li>Complete: <p class="number2"> 4</li> </p>
                <li>Outstanding: <p class="number3"> 8</li> </p>
                <li class="overdue">Overdue: <p class="number4"> 0</li> </p>
            </ul>

        </div>
    </div>
</div>

@*second*@

<div class="container" style="margin-top: 119px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default2 pad">
                <div class="container-circle">
                    <div id="activeBorder" class="active-border">
                        <div id="circle" class="circle">
                            <span class="prec 270" id="prec">7/12</span>
                            <span class="prec2 270" id="prec"> COMPLETE</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">Feedback Status</div>
            <h1>General Actions</h1>

            <hr />
            <ul class="lists2">

                <li>Total items:<p class="number"> 12</li> </p>
                <li>Complete: <p class="number2a"> 11</li> </p>
                <li>Outstanding: <p class="number3a"> 1</li> </p>
                <li class="overdue">Overdue: <p class="number4a"> 0</li> </p>
            </ul>

            <button type="button" class="btn btn-secondary">Manage</button>

        </div>
    </div>
</div>

@*third*@

<div class="container" style="margin-top: 66px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default3 pad">
                <div class="container-circle">
                    <div id="activeBorder" class="active-border">
                        <div id="circle" class="circle">
                            <span class="prec 270" id="prec">3/12</span>
                            <span class="prec2 270" id="prec"> COMPLETE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">Feedback Status</div>
            <h1>Core Developments</h1>

            <hr />

            <ul class="lists2">

                <li>Total items:<p class="number"> 4</li> </p>
                <li>Complete: <p class="number2a"> 2</li> </p>
                <li>Outstanding: <p class="number2b"> 2</li> </p>
                <li class="overdue">Overdue: <p class="number4b"> 0</li> </p>
            </ul>

            <button type="button" class="btn btn-secondary">Manage</button>

        </div>
    </div>
</div>

@*fourth*@

<div class="container" style="margin-top: 66px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default4 pad">
                <div class="container-circle">
                    <div id="activeBorder" class="active-border">
                        <div id="circle" class="circle">
                            <span class="prec 270" id="prec">5/12</span>
                            <span class="prec2 270" id="prec"> COMPLETE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header">Feedback Status</div>
            <h1>Tutor Feedback</h1>

            <hr />

            <ul class="lists2">

                <li>Total items:<p class="number"> 12</li> </p>
                <li>Complete: <p class="number2a"> 11</li> </p>
                <li>Outstanding: <p class="number3a"> 1</li> </p>
                <li class="overdue">Overdue: <p class="number4a"> 0</li> </p>
            </ul>

            <button type="button" class="btn btn-secondary">Manage</button>

        </div>
    </div>
</div>



