<div class="navbar">
   <p class="head">CLUB INCENTIVES</p>
</div>
<div class="navbar">
   <p class="head">CLUB INCENTIVES</p>
</div>

<div class="main">
   <div class="container">
       <a href="">
           <div class="selector1">
               <img src="~/img/cup.jpg" />
               <span style="float:right;margin-right: 9px;margin-top: 8px; color:#ffffff;">&#8942;</span>
               <header>SALES CLUB</header>
               <p class<div class="bs-example">
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">     
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<p class="link">Click on the tab for more information</p>
           </div>
       </a>
        <br />
        <br />

    <div class="selector2">
            <img src="~/img/merit.jpg" />
            <span style="float:right;margin-right: 9px;margin-top: 8px; color:#ffffff;">&#8942;</span>
            <header>MERIT AWARD</header>l
            <p class="link">Click on the tab for more information</p>
        </div>

        <br />
        <br />

     <div class="selector3">
            <img src="~/img/conv.jpg" />
            <span style="float:right;margin-right: 9px;margin-top: 8px; color:#ffffff;">&#8942;</span>
            <header>CONVERSATION</header>
            <p class="link">Click on the tab for more information</p>

        </div>

        <br />
        <br />

     <div class="selector4">
            <img src="~/img/luxury.jpg" />

            <span style="float:right;margin-right: 9px;margin-top: 8px;color:#ffffff;">&#8942;</span>
            <header style="margin-left:147px;font-size:13px;">EXECUTIVE MILLIONAIRE'S</header>
            <p class="link">Click on the tab for more information</p>

        </div>

        <br />
        <br />

    <div class="selector5">
            <img src="~/img/legend.jpg" />
            <span style="float:right;margin-right: 9px;margin-top: 8px;color:#ffffff;">&#8942;</span>
            <header style="margin-left: 134px;">LEGEND</header>
            <p class="link">Click on the tab for more information</p>
        </div>

    </div>
</div>



<div class="main">
   <div class="container">
       <a href="">
           <div class="selector1">
               <img src="~/img/cup.jpg" />
               <span style="float:right;margin-right: 9px;margin-top: 8px; color:#ffffff;">&#8942;</span>
               <header>SALES CLUB</header>
               <p class="link">Click on the tab for more information</p>
           </div>
       </a>
        <br />
        <br />

    <div class="selector2">
            <img src="~/img/merit.jpg" />
            <span style="float:right;margin-right: 9px;margin-top: 8px; color:#ffffff;">&#8942;</span>
            <header>MERIT AWARD</header>
            <p class="link">Click on the tab for more information</p>
        </div>

        <br />
        <br />

     <div class="selector3">
            <img src="~/img/conv.jpg" />
            <span style="float:right;margin-right: 9px;margin-top: 8px; color:#ffffff;">&#8942;</span>
            <header>CONVERSATION</header>
            <p class="link">Click on the tab for more information</p>

        </div>

        <br />
        <br />

     <div class="selector4">
            <img src="~/img/luxury.jpg" />

            <span style="float:right;margin-right: 9px;margin-top: 8px;color:#ffffff;">&#8942;</span>
            <header style="margin-left:147px;font-size:13px;">EXECUTIVE MILLIONAIRE'S</header>
            <p class="link">Click on the tab for more information</p>

        </div>

        <br />
        <br />

    <div class="selector5">
            <img src="~/img/legend.jpg" />
            <span style="float:right;margin-right: 9px;margin-top: 8px;color:#ffffff;">&#8942;</span>
            <header style="margin-left: 134px;">LEGEND</header>
            <p class="link">Click on the tab for more information</p>
        </div>

    </div>
</div>