body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    /*background-color: #ddd;*/
    /*background-color: #f8f8f8;*/
    background-color: #f6f7fb;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    /*float: left;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.joy {
    color: grey;
    /* margin-left: 10px; */
    color: #ffbf00;
    font-size: 30px;
}

.shade {
    background-color: #ffbf00;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
}

.negative {
    background-color: red;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
}

.left-inner-addon {
    position: relative;
}

    .left-inner-addon input {
        padding-left: 30px;
    }

    .left-inner-addon i {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }

.right-inner-addon {
    position: relative;
}

    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }

/*bullets*/

.positive {
    background-color: darkseagreen;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
}

.highlight {
    background-color: #ffbf00;
}
.list {
    float: right;
    font-size: 12px;
    margin-right: 15px;
}

.selector {
    width: 100%;
    height: auto;
    /*border-radius: 15px;*/
    background-color: #ffffff;
    margin-bottom: -29px;
    /*margin-left: -24px;
    margin-top: 13px;*/
}

.select {
    float: right;
    margin-right: 9px;
    margin-top: -52px;
    color: #808080;
    font-size: 37px;
}

img {
    width: 30%;
}

.instruction {
    margin-left: 10px;
}

.key {
    /*width: 90%;*/
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.btn-primary:hover {
    color: none;
}

a {
    color: none;
}

.btn-primarys {
    color: #fff;
    background-color: #00a6f3;
    /*border-color: #00a6f3;*/
}

.btn:focus {
    outline: transparent;
    /* outline: 5px auto -webkit-focus-ring-color; */
    /* outline-offset: -2px; */
}

/*progress bar*/
#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

#container2 {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

#container3 {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

#container4 {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

#container5 {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

/*emojies*/
/*.emoji {
    max-width: 100%;
    height: auto;
    width: 100%;
    float: left;
}*/

/*prpgress*/

.skills {
    width: 100%;
    max-width: 960px;
    height: 200px;
    margin: auto;
    position: relative;
}

.charts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.chart {
    margin: 30px 0 0;
}

    .chart:first-child {
        margin: 0;
    }

.chart__title {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    margin-left: 10px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
}

.chart--prod .chart__title {
    animation-delay: 3.3s;
}

.chart--design .chart__title {
    animation-delay: 4.5s;
}

.chart--horiz {
    overflow: hidden;
}

.chart__bar {
    /*height: 30px;
    margin-bottom: 10px;
    background: #00a6f3;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;*/
    height: 10px;
    margin-bottom: 10px;
    background: #00a6f3;
    /* border-top-right-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
}

.chart--dev .chart__bar:nth-of-type(11) {
    animation-delay: 2.7s;
}

.chart--dev .chart__bar:nth-of-type(10) {
    animation-delay: 2.5s;
}

.chart--dev .chart__bar:nth-of-type(9) {
    animation-delay: 2.3s;
}

.chart--dev .chart__bar:nth-of-type(8) {
    animation-delay: 2.1s;
}

.chart--dev .chart__bar:nth-of-type(7) {
    animation-delay: 1.9s;
}

.chart--dev .chart__bar:nth-of-type(6) {
    animation-delay: 1.7s;
}

.chart--dev .chart__bar:nth-of-type(5) {
    animation-delay: 1.5s;
}

.chart--dev .chart__bar:nth-of-type(4) {
    animation-delay: 1.3s;
}

.chart--dev .chart__bar:nth-of-type(3) {
    animation-delay: 1.1s;
}

.chart--dev .chart__bar:nth-of-type(2) {
    animation-delay: 0.9s;
}

.chart--dev .chart__bar:nth-of-type(1) {
    animation-delay: 0.7s;
}

.chart--prod .chart__bar:nth-of-type(2) {
    animation-delay: 4.2s;
}

.chart--prod .chart__bar:nth-of-type(1) {
    animation-delay: 4s;
}

.chart--design .chart__bar:nth-of-type(3) {
    animation-delay: 5.6s;
}

.chart--design .chart__bar:nth-of-type(2) {
    animation-delay: 5.4s;
}

.chart--design .chart__bar:nth-of-type(1) {
    animation-delay: 5.2s;
}


.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #d0caca;
}

div1 {
    width: 100%;
    display: inline-block;
    /*margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 50px;*/
}

@keyframes anim-lightspeed-in {
    0% {
        transform: translateX(-200%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*chart*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.donut-chart {
    position: relative;
    width: 165px;
    height: 165px;
    /*width: 200px;
    height: 200px;*/
    margin: 0 auto 2rem;
    border-radius: 100%;
    margin-left: 17px;
}

p.center {
    background: #ffffff;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}

p.center2 {
    position: absolute;
    text-align: center;
    font-size: 15px;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    /* width: 130px; */
    /* height: 130px; */
    /* margin: auto; */
    /* border-radius: 50%; */
    /* line-height: 35px; */
    /* padding: 15% 0 0; */
}

.portion-block {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.circle {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#part1 {
    transform: rotate(0deg);
}

    #part1 .circle {
        background-color: red;
        /*transform: rotate(76deg);*/
        animation: first 1s 1 forwards;
    }


#part2 {
    transform: rotate(100deg);
}

    #part2 .circle {
        background-color: yellow;
        animation: second 1s 1 forwards 1s;
    }

#part3 {
    transform: rotate(250deg);
}

    #part3 .circle {
        background-color: lawngreen;
        animation: third 0.5s 1 forwards 2s;
    }

/* Animation */
@keyframes first {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(100deg);
    }
}

@keyframes second {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(150deg);
    }
}

@keyframes third {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(111deg);
    }
}

#custom-search-form {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

.search-query:focus + button {
    z-index: 3;
}

@media (min-width: 1200px) {

    .container {
        width: 1593px;
    }
}
