

<link href="~/Content/bootstrap.min.css" />
<link href="~/Content/Site.css" />

<div class="container">
    <br />
    <div class="row  well2">
        <p class="top">LAST 5 CLIENT RATINGS</p>
    </div>

    <div class="row  well">
        <div class="col-xs-4 rating">
            RATING
        </div>
        <div class="col-xs-6" style="color: burlywood;padding-top:4px;">
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
            </span><span class="glyphicon glyphicon-star-empty"></span>
        </div>

        <div class="col-xs-2 numberCircle">
            8.1
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h4>COMMENTS</h4>
                <p id="comments">Lorem ipsum has become the industry standard for design mockups and prototypes.By adding a little bit at Latin To a mockup.you're able to show clients.</p>
            </div>
        </div>

        <a href="#">VIEW MORE</a>
    </div>

    <div class="row  well">
        <div class="col-xs-4 rating">
            RATING
        </div>

        <div class="col-xs-6" style="color: burlywood;padding-top:4px;">
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
            </span><span class="glyphicon glyphicon-star-empty"></span>
        </div>

        <div class="col-xs-2 numberCircle">
            8.1
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h4>COMMENTS</h4>
                <p id="comments">Lorem ipsum has become the industry standard for design mockups and prototypes.</p>
            </div>
        </div>

        <a href="#">VIEW MORE</a>
    </div>

    <br /><br /><br /><br />

    <div class="col-xs-12" style="text-align:center">
        <a href="http://localhost:57559/Home/Index"><button type="button" class="btn btn2 btn-cons"><p> <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span> BACK</p> </button></a>
    </div>

</div>


