<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/bootstrap.min.css" />
<link href="~/Content/Site.css" />

<div class="container">
    <div class="row">

        <div class="col-xs-12 card card-container">
            <div class="lower">
                <h1>MY RATING</h1>

                <p id="under">Current CLient Rating</p>

                <div id="store">
                    <div class="progress-circle over50 p66">
                        <span>7.4</span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><Br />
            <div class="end">

                <div class="days">
                    <br />

                    <p class="increase">
                        Rating has increased over<br />
                        last 30 days
                    </p>


                </div>

            </div>
            <p class="rate">
                Based on 32 Ratings
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 holder">

    <a href="http://localhost:56501/Home/clientRating"><button type="button" class="btn btn1 btn-cons"><p class="last">VIEW LAST 5 CLIENT RATING</p></button></a>

</div>

