body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eaeaea;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.head {
    font-size: 20px;
    color: #006150;
    font-weight: 900;
    text-align:center;
    }

header {
    margin-left: 135px;
    margin-top: -70px;
    font-size: 13px;
    font-weight: 900;
    color: #ffffff;
}

/*navbar*/

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -15px;
}

.main {
    /*padding: 16px;
    margin-top: 30px;*/
    height: 1500px; /* Used in this example to enable scrolling */
}

/*containers*/
.selector1 {
    /*width: 100%;
    height: 120px;
    margin-left: 10px;*/
    width: 132%;
    height: 142px;
    margin-left: -35px;
    margin-top: 13px;
    border-radius: 15px;
    background-color: #21d421;
}

.selector2 {
    /*width: 100%;
    height: 120px;*/
    width: 132%;
    height: 142px;
    margin-left: -35px;
    border-radius: 15px;
    background-color: #006150;
}

.selector3 {
    /*width: 100%;
    height: 120px;*/
    width: 132%;
    height: 142px;
    margin-left: -35px;
    border-radius: 15px;
    background-color: maroon;
}

.selector4 {
    /*width: 100%;
    height: 120px;*/
    width: 132%;
    height: 142px;
    margin-left: -35px;
    border-radius: 15px;
    background-color: orange;
}

.selector5 {
    /*width: 100%;
    height: 120px;*/
    width: 132%;
    height: 142px;
    margin-left: -35px;
    border-radius: 15px;
    background-color: #56cef5;
}

img {
    height: 70%;
    margin-left: 10px;
    margin-top: 13px;
    width: 100px;
}


/*menu*/
span {
    content: "\22EE";
}

p {
    margin-left: 128px;
    color: #ffffff;
}


/*responsive*/


/*@media screen and (min-width: 991px) {


}*/


    @media screen and (min-width: 768px) {
        .head {
            font-size: 20px;
            color: #006150;
            font-weight: 900;
            margin-left: 123px;
            text-align: left;
        }

        .selector1 {
            width: 100%;
            height: 120px;
            margin-left: 10px;
            margin-top: 13px;
            border-radius: 15px;
            background-color: #21d421;
        }

        .selector2 {
            width: 100%;
            height: 120px;
            border-radius: 15px;
            background-color: #006150;
        }

        .selector3 {
            width: 100%;
            height: 120px;
            border-radius: 15px;
            background-color: maroon;
        }

        .selector4 {
            width: 100%;
            height: 120px;
            border-radius: 15px;
            background-color: orange;
        }

        .selector5 {
            width: 100%;
            height: 120px;
            border-radius: 15px;
            background-color: #56cef5;
        }

        /*.navbar {
            overflow: hidden;
            background-color: #ffffff;
            position: fixed;
            top: 0;
            width: 100%;
            margin-left: -15px;
        }*/
    }


    @media screen and (min-width: 320px) {
        .head {
            font-size: 20px;
            color: #006150;
            font-weight: 900;
            margin-left: 50px;
            text-align: left;
        }



        .selector1 {
            width: 110%;
            height: 142px;
            margin-left: -23px;
            margin-top: 13px;
            border-radius: 15px;
            background-color: #21d421;
        }

        .selector2 {
            width: 110%;
            height: 142px;
            margin-left: -23px;
            border-radius: 15px;
            background-color: #006150;
        }

        .selector3 {
            width: 110%;
            height: 142px;
            margin-left: -23px;
            border-radius: 15px;
            background-color: maroon;
        }

        .selector4 {
            width: 110%;
            height: 142px;
            margin-left: -23px;
            border-radius: 15px;
            background-color: orange;
        }

        .selector5 {
            width: 110%;
            height: 142px;
            margin-left: -23px;
            border-radius: 15px;
            background-color: #56cef5;
        }

        /*.navbar {
            overflow: hidden;
            background-color: #ffffff;
            position: fixed;
            top: 0;
            width: 100%;
            margin-left: -15px;
        }*/
    }
